.mainmenubtn {
    background: url(dark.png);
	font-family: Verdana;
	font-size: 16px;
	font-style: italic;
    color: gray;
    border: none;
    cursor: pointer;
    padding: 12px;
	border-style: inset;
	border-color: #f0f0f0;
	margin-left: 1px;
}
.mainmenubtn:hover {
    background: black;
}
 .dropdown {
    position: relative;
    display: inline-block;
	font-style: italic;
	font-family: Verdana;
	font-size: 15px;
	float: left;
}
.dropdown-child {
    display: none;
    background: url(dark.png);
    min-width: 227px;
	position: absolute;
	list-style: none;
	z-index: 500;
	}
.dropdown-child a:hover{ background-color: black;}
.dropdown-child a {
    color: gray;
    padding: 10px;
    text-decoration: none;
    display: block;
	border-style: double;
	border-color: #f0f0f0;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.first {
	font-family: "Courier New";
	color: gray;
	font-size: 33px;
	text-align: center;
}
.second  {
	font-family: Verdana;
	color: gray;
	font-size: 16px;
	text-align: justify;
	text-indent: 1.5em;
	float: left;
	margin: 0px 7px 7px 0
}
.second  li {
	line-height: 2em;
	text-indent: 2em;
	margin-left: -2em;
}
#cur{
	cursor: pointer;
}
a {color: #A65500;
text-decoration: none;
}
 A[href^="http://"] {
color: #A65500;
text-decoration: none;
}
ol{
    list-style: inside;
	list-style-type: square;
}
body {background:url(dark.png);} 
ul{
  margin: 0;
  padding: 0;
}
ul.nav li {
  background:url(dark.png);
  border-style: inherit;
  list-style: none;
  width: 227px;        
}
ul.nav li a {
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 15px;
}
ul.nav li ul {
  display: none;
}
ul.nav li:hover {
  position: relative;
  background: black;
  border-style: inherit; 
}
ul.nav li:hover > ul {
  display: block;
}
ul.nav li:hover ul{
  position: absolute;
  top: 0;       
  left: 225px; 
}
iframe{
	float: right;
	margin: 20px 0 1px 7px;
	border-style: inset;
}
img {
	float: right;
	cursor: pointer;
	}
#list li {
	list-style-type: none; 
}	
#list ol{
	counter-reset: list 0;
}
#list ol li:before {
	counter-increment: list; 
    content: counter(list) ". ";
}
#footer { 
	background: black; 
	bottom: 0px;
	color: gray;
	font-family: Verdana;
	font-style: italic;
	font-size: 14px;
	left: 0;	
	padding: 5px;
	position: fixed;
	text-align: right;
	width: 100%;
}
#footer span { margin-right: 2%;}
.slider {
	float: right;
	margin: 5px 0 1px 7px
}
h1, h3, h4{
	text-align: center;
	font-family: Verdana;
	color: gray;
	text-indent: 1.5em;
}
.container{
	width: 100%;
	max-width: 1024px;
	padding: 0 15px;
	margin: 0 auto;
}
table{
	border-style: solid;
	margin-top: -0.9%;
	border-width: 0px 2px;
	border-color: #f0f0f0;
}
td {
	padding: 10px;
}
.container1{
	width: 100%;
	max-width: 1024px;
	padding: 0 15px;
	margin: 0 270px;
}